@use './sass/utilities/colors';
@use './sass/utilities/layout';
@use './sass/utilities/spacing';
@use './sass/utilities/typography';
@use './sass/components/menu';
@use './sass/components/buttons';
@use './sass/components/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.border {
  border: 1px solid red;
}

.border-radius {
  border-radius: 8px;
}

.block {
  display: block;
}

.disappear {
  @include layout.responsive(s) {
    display: none;
  }
}

.disappear-desktop {
  @include layout.responsive(xl) {
    display: none;
  }
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

a{
  text-decoration: none;
}