@use '../utilities/colors';
@use '../utilities/layout';
@use '../utilities/spacing';
@use '../utilities/typography';

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta-link {
  font-family: "Be Vietnam Pro", sans-serif;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;

  &::after {
    content: "";

    position: absolute;
    top: 90%;
    left: 0;

    transition: 0.25s ease-out;

    width: 0%;
    height: 2px;

    background-color: colors.$primary-normal;
  }

  &:hover {
    &::after {
      width: 40%;
    }
  }
}